{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 * @see templates/views/views-exposed-form.html.twig
 */
#}
<div class="form--inline clearfix">
  {{ form }}
</div>
