/**
 * @file
 * sass/partials/common/_grid-settings.scss
 *
 * Based on http://bitters.bourbon.io/
 */

@import "neat-helpers";

// Neat overrides
$grid-columns: 4; // Mobile first
$max-width: 32rem;
$visual-grid: false;
// border-box-sizing is set false here to avoid CSS generation in _imports.scss
$border-box-sizing: false;

// Columns
$xs-cols: 4;
$s-cols: 8;
$m-cols: 12;
$l-cols: 16;
$cols-list: ($xs-cols $s-cols $m-cols $l-cols);

// Breakpoints
$xs-break: new-breakpoint(max-width 524px $xs-cols);
$s-break: new-breakpoint(min-width 525px $s-cols);
$m-break: new-breakpoint(min-width 801px $m-cols);
$l-break: new-breakpoint(min-width 1025px $l-cols);
$breaks-list: ($xs-break $s-break $m-break $l-break);
