/**
 * @file
 * sass/partials/common/_placeholders.scss
 */

%side-paddings {
  padding-left: $side-margin / 2 * 1%;
  padding-right: $side-margin / 2 * 1%;
}
%outer-container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}
%clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
