/.idea/
/node_modules/
/pattern-lab-php/
/public/
/source/_meta/_00-head.mustache
/source/_meta/_01-foot.mustache
/source/css/*
!/source/css/classy/
!/source/css/stable/
!/source/css/stable-theme.admin.css
!/source/css/stable-theme.css
/source/js/scripts-styleguide.js
/vendor/
/wiki/
/composer.lock
/dependencyGraph.json
/package-lock.json
