/**
 * @file
 * sass/partials/layout/templates/_global.scss
 *
 * @see page.html.twig
 */

.page {
  padding-bottom: 4rem;
}
.page__header {
  padding-left: 64px;
  width: 100%;
}
.page__content {
  @extend %side-paddings;
  main {
    @extend %outer-container;
  }
}
