/**
 * @file
 * sass/partials/layout/templates/_global.scss
 *
 * @see page.html.twig
 */

.page {
  padding-bottom: 4rem;
}
.page--front {
  padding-bottom: 1rem;
}
.page__header {
  @include breakpoint($xs-break) {
    padding-left: 64px;
  }
  width: 100%;
}
.page__middle {
  @extend %side-paddings;
  main {
    @extend %outer-container;
  }
}
