/**
 * @file
 * sass/partials/layout/templates/_page--front.scss
 *
 * @see page.html.twig
 */

.page--front {
  padding-bottom: 1rem;
  .comment-add {
    display: none;
  }
}
.view--frontpage {
  .views-row + .views-row {
    margin-top: 4rem;
  }
}
