{% extends "base.twig" %}

{% block page__content %}
  {{ status_messages }}
  <div class="view--frontpage">
    <div class="views-row">
      {% include "organisms-article-teaser" %}
    </div>
    <div class="views-row">
      {% include "organisms-article-teaser" %}
    </div>
    <div class="views-row">
      {% include "organisms-article-teaser" %}
    </div>
  </div>
  {{ feed_icon }}
{% endblock %}

{% block page__footer %}
  {% include "molecules-powered-by" %}
{% endblock %}
