/**
 * @file
 * sass/partials/components/molecules/blocks/_powered-by.scss
 *
 * @see shila_theme_preprocess_block()
 * @see block.html.twig
 */

.block--powered-by {
  text-align: center;
  font-size: smaller;
  a {
    color: $base-font-color;
  }
}
