/**
 * @file
 * sass/partials/components/organisms/global/_page__header.scss
 *
 * @see page.html.twig
 */

.page__header {
  @extend %side-paddings;
  padding-left: 64px;
  width: 100%;
  background-color: $base-background-color;
  .block--branding {
    @extend %outer-container;
  }
}
