<div class="listing">
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
</div>
