<div class="listing listing--multicol">
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
  {% include "molecules-listing-item" %}
</div>
