<div class="view--frontpage">
  <div class="views-row">
    {% include "organisms-article-teaser" %}
  </div>
  <div class="views-row">
    {% include "organisms-article-teaser" %}
  </div>
  <div class="views-row">
    {% include "organisms-article-teaser" %}
  </div>
  {{ feed_icon }}
</div>
