<div class="listing-item">
  <div class="listing-item__picture">
    {% include "atoms-landscape-3x2" %}
  </div>
  <div class="listing-item__body">
    {% include "molecules-field--node_title" %}
    {% include "molecules-field--node_body" %}
    {{ links }}
  </div>
</div>
